@media screen and (max-width: 768px) {
    #sidebar {
      width: 0%;
      display: none;
    }
  }
  #wrapper {
    display: flex;
  }
  body {
    font: 11pt Arial, Helvetica, sans-serif;
    /* Рубленый шрифт текста */
    margin: 0;
    /* Отступы на странице */
  }

  h1 {
    font-size: 36px;
    /* Размер шрифта */
    margin: 0;
    /* Убираем отступы */
    color: #fc6;
    /* Цвет текста */
  }

  h2 {
    margin-top: 0;
    /* Убираем отступ сверху */
  }

  #header {
    /* Верхний блок */
    background: #0080c0;
    /* Цвет фона */
    padding: 10px;
    /* Поля вокруг текста */
  }

  #sidebar {
    border: 1px solid #333;
    /* Параметры рамки вокруг */
    height: 30%;
    /* Высота рамки */
    width: 45%;
    /* Ширина колонки */
    padding: 5px;
    /* Поля вокруг текста */
    margin: 10px 10px 20px 5px;
    /* Значения отступов */
  }

  #content {
    margin: 10px 10px 20px 10px;
    /* Правая колонка */
    border: 1px solid #333;
    /* Параметры рамки */
    padding: 5px;
    /* Поля вокруг текста */
    width: 100%;
  }

  #footer {
    /* Нижний блок */
    background: #333;
    /* Цвет фона */
    padding: 5px;
    /* Поля вокруг текста */
    color: #fff;
    /* Цвет текста */
    clear: left;
    /* Отменяем действие float */
  }